a {
    text-decoration: none;
    color: white;
    margin: 0.25em;
}

a:hover {
    color: rgb(224, 99, 64);
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 40vw;
    background-color: rgb(61, 38, 83);
}

#intro {
    padding: 1em;
}

#article-box {
    display: flex;
    justify-content: center;
}

#video-box {
    display: flex;
    justify-content: center;
}

#form-box {
    display: flex;
    justify-content: center;
}

#subscribe {
    border: 1px solid black;
    width: 50vw;
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    justify-content: center;
    align-items: center;
    padding: 0.2em;
}

footer {
    text-align: center;
}

#article-footer {
    background-color: rgb(112, 94, 130);
    color: white;
    padding: 0;
}

#article-footer > p {
    margin: 0;
}

#page-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    background-color: rgb(61, 38, 83);
    color: white;
    height: 2.5em;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.2em;
}